# Qt/QMake
build/
*.pro.user
*.qmake.stash

# Compilación/MOC
*.o
moc_*
ui_*
*.moc
*.qrc

# Ejecutables y librerías
To_Do_List
*.exe
*.dll
*.so
*.app

# Temporales/IDE
*.autosave
*.swp
*.swo
*.log
*.tmp

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db

# Entornos/dependencias
venv/
.venv/
node_modules/
